* {
    font-family: Roboto;
}
body {
    background-image: url(images/bee-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    width: 100%;
    min-height: 100px;
    color: whitesmoke;
    display: flex;
    background: transparent;
}

header img {
    margin-top: 20px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
}

header h1 {
    width: 600px;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 70px;
}

main h2 {
    display: flex;
    text-align: start;
    font-size: 26px;
    color: whitesmoke;
    width: 600px;
    margin-top: 50px;
    margin-left: 50px;
    text-align: justify;
}